html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
  }
  
  #root {
    height: 100vh;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .joinOuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background-color: #EAEAEA;
  }
  
  .joinInnerContainer {
    margin: auto;
    width: 30%;
    padding-bottom: 35px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .joinInput {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid black;
    border-radius: 3px;
  }
  
  .joinheading {
    color: #EE7E7E;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    padding: 20px;
    text-decoration-line: underline;
  }
  
  .custom-join-button {
      color: #fff !important;
      text-transform: uppercase;
      text-decoration: none;
      background: #EE7E7E;
      padding: 20px;
      border-radius: 5px;
      display: inline-block;
      border: none;
      width: 100%;
  }
  .custom-join-button:hover{
    background: linear-gradient(91.29deg, #DC2323 3.02%, rgba(244, 121, 121, 0.83) 100%);
  }
  
  .mt-20 {
    margin-top: 20px;
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
      height: 100%;
    }
  
    .joinInnerContainer {
      width: 90%;
    }
  
  
  }
  
  .custom-join-button:focus {
    outline: 0;
  }