
  * {
    box-sizing: border-box;
  }
  
  .joinOuterContainer {
    text-align: center;
    height: 100vh;
    align-items: center;
    background-color: #ffa4a4;
    padding-top: 2%;
  }
  
  .joinInnerContainer {
    padding: 2%;
    margin: auto;
    width: 30%;
    height: 80%;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
  }
  
  .Chat-SubHeader{
    color: #EE7E7E;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    padding: 10px;
    text-decoration-line: underline;
  }
  
  .users-font{
    color: #aaaaaa;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    padding: 10px;
  }

  .chat-list{
    list-style-type:circle;
    color: #EE7E7E;
  }

  .users-font:hover{
    color: #EE7E7E;
  }
  .custom-join-button {
      color: #fff !important;
      text-transform: uppercase;
      text-decoration: none;
      background: #EE7E7E;
      padding: 20px;
      border-radius: 5px;
      display: inline-block;
      border: none;
      width: 100%;
  }

  .custom-join-button:hover{
    background: linear-gradient(91.29deg, #DC2323 3.02%, rgba(244, 121, 121, 0.83) 100%);
  }
  .custom-join-button:focus {
    outline: 0;
  }

  
  
  @media (max-width: 900px) {
  
    .joinInnerContainer {
      width: 80%;
      padding: 4%;
    }
  
  
  }
  
