body{
    background-color:E5E3E3;
  }

.filter-padding{
    padding-top: 4%;
}
.Filter-Header{
    color: #737373;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    padding: 20px;
    text-decoration-line: underline;
}

.Filter-SubHeader{
    color: #EE7E7E;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
}

.Filter-Ruler{
    border: 3px solid rgba(253, 0, 0, 0.42);
    width: 100%;
    border-radius: 10px;
}
.custom-filter-container{
    margin: auto;
    width: 60%;
    padding-bottom: 35px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding-left: 50px;
    padding-right: 50px;

}
.custom-button-cm-f {
    background: linear-gradient(91.29deg, #DC2323 3.02%, rgba(244, 121, 121, 0.83) 100%);
    color: #FFFFFF;
    padding: 12px;
    border: none;
    width: 38%;
    border-radius: 10px;
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
        }
        .custom-button-cm-f:hover{
          background:#DC2323;
      }
    .custom-spacing-btn-cm-f{
        margin: 0 auto;
        justify-content: center;
        display: flex;
    }
.FilterImg{
    width: 70px;
    height: 70px;
}

*{
    box-sizing: border-box;
}
.Filter-Submit input[type=text]{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid black;
    border-radius: 3px;
  }
.Filter-Height input[type=text]{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid black;
    border-radius: 3px;
  }

.Filter-Selection select{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid black;
    border-radius: 3px;
  }

.Filter-Ethnicity select{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid black;
    border-radius: 3px;
  }

.Filter-Ethnicity label{
    margin-bottom: 10px;
    display: block;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.Filter-Selection label{
    margin-bottom: 10px;
    display: block;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.Filter-Height label{
    margin-bottom: 10px;
    display: block;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.Filter-Submit label{
    margin-bottom: 10px;
    display: block;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

@media (max-width: 800px) {
    .filter-padding{
        padding-top: 6%;
    }
    .custom-filter-container{
        width: 90%;
    }
  
  }

.filter-alert {
    text-align: center;
    display: none;
}