
.custom-outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EAEAEA;
    padding: 1%;
  }
  
  .custom-chat-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 15px;
    height: 80%;
    width: 60%;
  } 
  