.topPadding-BD{
    padding-top: 2%;
}

.BD-button{
background: linear-gradient(91.29deg, #DC2323 3.02%, rgba(244, 121, 121, 0.83) 100%);
color: #FFFFFF;
padding: 12px;
border: none;
width: 50%;
border-radius: 10px;
cursor: pointer;
font-style: normal;
font-weight: bold;
font-size: 24px;
font-family: 'Times New Roman', Times, serif;
}

.BD-button{
    background:#DC2323;
}
.custom-button-BD-exit{
    background: linear-gradient(91.29deg, #DC2323 3.02%, rgba(244, 121, 121, 0.83) 100%);
    color: #FFFFFF;
    border: none;
    width: 10%;
    padding: 2%;
    border-radius: 50%;
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
}
.exit-img{
    margin: auto;
    width: 70%;
}