body{
    background-color:E5E3E3;
  }

  .logo-cm {
    padding-top: 5px;
    color: red;
    font-family: "Times New Roman", Times, serif;
  }
  
  .custom-base-container {
    padding: 27px;
    position: absolute;
    width: 1047px;
    height: 650px;
    left: 196px;
    top: 100px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px #ffdfdf;
    border-radius: 10px;
  }
    
  .signInHeader{
    font-size: 15px;
    font-family: "Times New Roman", Times, serif;
    padding-top: 20px;
    padding-right: 550px;
    color: 484848;
    padding-bottom: 20px;
  
  }
  
  
  
  .custom-content-cm {
        display: flex;
        flex-direction: column;
      }
          .custom-container-right-cm {
            padding-top: 140px;
            position: absolute;
            width: 523px;
            height: 644px;
            left: 524px;
            top: 0px;
            border-radius: 10px;
            background: linear-gradient(180deg, rgba(244, 121, 121, 0.83) 0%, rgba(231, 30, 30, 0) 100%);
          }
          .custom-image-cm{
            border-radius: 50%;
            width: 300px;
            height: 300px;
            opacity: 0.6;
            vertical-align: "center";
            vertical-align:middle;
            margin:0px 25px;
            background-color: white;
          }
          .custom-img-eclipse-cm{
            background: linear-gradient(180deg, rgba(244, 121, 121, 0.83) 0%, rgba(231, 30, 30, 0) 100%);
            border-radius: 50%;
            width: 350px;
            height: 350px;
            vertical-align: "center";
            vertical-align:middle;
            margin:0px 85px; 
            padding-top: 25px;
          }
      
    
        .custom-form-cm {
          display: flex;
          flex-direction: column;
          align-items: left;
          padding-left: 70px;
          padding-bottom: 20px;
        }
    
          .custom-form-group-cm{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: fit-content;
            float: left;
          }
            .custom-label-cm {
              font-size: 16px;
              font-family: Poppins;
              color: red;
            }
  
            .custom-input-cm {
              margin-top: 6px;
              min-width: 20em;
              height: 37px;
              padding: 0px 10px;
              font-size: 16px;
                font-family: Poppins;
              background-color: #f3f3f3;
              border: 0;
              border-radius: 4px;
              margin-bottom: 31px;
              transition: all 250ms ease-in-out;
            }
              .custom-input-cm:hover {
                background-color: #ffffff;
                box-shadow: 0px 0px 14px 0.3px #ff7575;
              }
    
              .custom-input-cm:focus {
                outline: none;
                box-shadow: 0px 0px 12px 0.8px #ff7575;
              }
              
    
      .custom-button-cm {
  background: linear-gradient(91.29deg, #DC2323 3.02%, rgba(244, 121, 121, 0.83) 100%);
  color: #FFFFFF;
  padding: 12px;
  border: none;
  width: 38%;
  border-radius: 10px;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
      }
      .custom-button-cm:hover{
        background:#DC2323;
    }
.custom-spacing-btn-cm{
  padding-left: 50px;
}

