body{
  background-color:E5E3E3;
}
.CM_Login_padding{
  padding: 50px;
}

.HeaderPadding{
  padding-top: 8%;
}

.signInHeader{
  text-align: center;
  display: inline;
  font-family: 'Times New Roman', Times, serif;
}

.column-cm-login {
  float: left;
  width: 50%;
}
.row-cm-login:after {
  content: "";
  display: table;
  clear: both;
}

.custom-base-container {
  margin: auto;
  width: 80%;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 25px #bdbdbd;
  border-radius: 10px;
}
.custom-container-2-cm {
    width: 100%;
    height: 540px;
    border-radius: 0px 10px 10px 0px;
    background: linear-gradient(180deg, rgba(244, 121, 121, 0.83) 0%, rgba(231, 30, 30, 0) 100%);
    padding-top: 15%;
}
.custom-img-eclipse-cm{
  background: linear-gradient(180deg, rgba(244, 121, 121, 0.83) 0%, rgba(231, 30, 30, 0) 100%);
  border-radius: 50%;
  width: 40%;
  margin: auto;
  padding-bottom: 20px;
}
.custom-img-cm{
  width: 100%;
  height: 280px;
  opacity: 0.9;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: white;
  border-radius: 50%;
}

.custom-form-cm {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 45px;
  padding-bottom: 20px;
}
        .custom-form-group-cm{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          float: left;
        }
          .custom-label-cm {
            font-size: 16px;
            font-family: 'Times New Roman', Times, serif;
            color: red;
          }

          .custom-input-cm {
            margin-top: 6px;
            width: 89%;
            height: 40px;
            padding: 0px 10px;
            font-size: 15px;
            font-family: 'Times New Roman', Times, serif;
            background-color: #f3f3f3;
            border: 0;
            border-radius: 4px;
            margin-bottom: 31px;
            transition: all 250ms ease-in-out;
          }
            .custom-input-cm:hover {
              background-color: #ffffff;
              box-shadow: 0px 0px 14px 0.3px #ff7575;
            }
  
            .custom-input-cm:focus {
              outline: none;
              box-shadow: 0px 0px 12px 0.8px #ff7575;
            }
            
  
.custom-button-cm {
background: linear-gradient(91.29deg, #DC2323 3.02%, rgba(244, 121, 121, 0.83) 100%);
color: #FFFFFF;
padding: 12px;
border: none;
width: 50%;
border-radius: 10px;
cursor: pointer;
font-style: normal;
font-weight: bold;
font-size: 24px;
font-family: 'Times New Roman', Times, serif;
}
.custom-button-cm:hover{
  background:#DC2323;
}

@media (max-width: 800px) {
  .custom-container-2-cm {
    display: none;
  }
  .custom-base-container{
    padding: 25px;
    width: 100%;
  }
  .custom-form-cm {
    padding-left: 10px;
  }
  .column-cm-login{
    width: 100%;
  }
  .custom-input-cm{
    width: 100%;
  }
  .HeaderPadding{
    padding-top: 1% ;
  }

}


