body{
  background-color:E5E3E3;
}

.CM_Register_padding{
  padding: 30px;
}

.HeaderPadding2{
  padding-top: 20px;
}

.signInHeader2{
  text-align: center;
  display: inline;
  font-family: 'Times New Roman', Times, serif;
}

.column-cm-register {
  float: left;
  width: 50%;
}
.row-cm-register:after {
  content: "";
  display: table;
  clear: both;
}

.custom-base-container2 {
  margin: auto;
  width: 80%;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 25px #bdbdbd;
  border-radius: 10px;
  padding-bottom: 30px;
}
  
.signInHeader2{
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  padding-top: 20px;
  padding-right: 550px;
  color: 484848;
  padding-bottom: 20px;
}

        .custom-container-right-cm {
          width: 100%;
          height: 575px;
          border-radius: 0px 10px 10px 0px;
          background: linear-gradient(180deg, rgba(244, 121, 121, 0.83) 0%, rgba(231, 30, 30, 0) 100%);
          padding-top: 25%;
        }
        .custom-img-eclipse-cm{
          background: linear-gradient(180deg, rgba(244, 121, 121, 0.83) 0%, rgba(231, 30, 30, 0) 100%);
          border-radius: 50%;
          width: 75%;
          margin: auto;
          padding: 50px;
          padding-bottom: 25px;
        }
        .custom-image-cm{
          width: 100%;
          height: 300px;
          opacity: 0.9;
          margin-left: auto;
          margin-right: auto;
          display: block;
          background-color: white;
          border-radius: 50%;
        }

    
  
      .custom-form2-cm {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding-left: 45px;
        padding-bottom: 20px;
      }
  
        .custom-form-group-cm2{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          float: left;
        }
          .custom-label-cm2 {
            font-size: 16px;
            font-family: 'Times New Roman', Times, serif;
            color: red;
          }

          .custom-input-cm2 {
            margin-top: 6px;
            width: 89%;
            height: 40px;
            padding: 0px 10px;
            font-size: 15px;
            font-family: 'Times New Roman', Times, serif;
            background-color: #f3f3f3;
            border: 0;
            border-radius: 4px;
            margin-bottom: 31px;
            transition: all 250ms ease-in-out;
          }
            .custom-input-cm2:hover {
              background-color: #ffffff;
              box-shadow: 0px 0px 14px 0.3px #ff7575;
            }
  
            .custom-input-cm2:focus {
              outline: none;
              box-shadow: 0px 0px 12px 0.8px #ff7575;
            }

            .custom-button2-cm {
              background: linear-gradient(91.29deg, #DC2323 3.02%, rgba(244, 121, 121, 0.83) 100%);
              color: #FFFFFF;
              padding: 12px;
              border: none;
              width: 50%;
              border-radius: 10px;
              cursor: pointer;
              font-style: normal;
              font-weight: bold;
              font-size: 24px;
              font-family: 'Times New Roman', Times, serif;
                  }
              .custom-button2-cm:hover{
                background:#DC2323;
              } 

              @media (max-width: 900px) {
                .custom-container-right-cm {
                  display: none;
                }
                .custom-base-container2{
                  padding: 25px;
                  width: 100%;
                }
                .custom-form-cm2 {
                  padding-left: 10px;
                }
                .column-cm-register{
                  width: 100%;
                }
                .custom-input-cm{
                  width: 100%;
                }
                .HeaderPadding2{
                  padding-top: 10px;
                }
                .CM_Register_padding{
                  padding: 40px;
                }
              }
            